GOOGLE_ID=gogle-client-id-from-google-console
GOOGLE_SCOPES=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/gmail.readonly https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/calendar.events https://www.googleapis.com/auth/calendar.events.readonly

JWT_SECRET=jwt-random-secret-md5

OPEN_WEATHER_KEY=open-weather-api-key
